@import url(reset.css);
h1, h2, h3, h4, p {
	font-family: 'Playfair Display', serif;
}
/*menu*/
.menuToggle {
	position: fixed;
	z-index: 1;
	width: 90px;
	height: 100px;
	cursor: pointer;
	font-size: 15px;
	color: #09d6f9;
	background: transparent;
	border: none;
}
.menuToggle i {
	color: #075663;
	font-size: 50px;
}

.menu {
	position: fixed;
	z-index: 1;
	width: 30%;
	height: 100%;
	padding-top: 150px;
	padding-left: 0;
	text-align: center;
	line-height: 2;
	letter-spacing: 2px;
	background-color: #9a9696;
	display: none; /*hiding first*/
}
.menu i {
	color: white;
	font-size: 30px;
	position: absolute;
	top: 20px; 
	left: 20px;
	cursor: pointer;

}
.menu i:hover {
	color: #09d6f9;
	
}
.menu li a {
	color: white;
	text-decoration: none;
	font-size: 20px;

}
.menu li a:hover {
	color: #09d6f9;
	font-weight: bold;
}

/*slider*/
.slider_wrapper {
	overflow: hidden;
	position: relative;
}

.slider_page {
	position: relative;
}
.slick-prev, .slick-next {
	height: 30px;
	width: 30px;
}

.slick-dots li {
	top: -70px;
	width: 5px;
	height: 12px;
	margin-right: 20px;
}
.slick-dots li button:before {
	font-size: 15px;
	opacity: .7;
	color: #9a9696;
}
.slick-dots li button:hover {
	opacity: 1;
}

.slick-dots li.slick-active button:before{
	color: #09d6f9;
	opacity: 1;
}
.slick-dots li button {
	border-radius: 50%;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.img, .img2, .img3, .img4  {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
	animation: move 25s linear infinite alternate;
}
.img  {background-image: url(../img/apple.jpg); background-position: 0% 85%;}
.img2 {background-image: url(../img/kofe.jpg); background-position: 0% 55%;}
.img3 {background-image: url(../img/dolls.jpg); background-position: 0% 85%;}
.img4 {background-image: url(../img/keyboard.jpg); background-position: 0% 100%;}

	

.inner_text {
	width: 500px;/* жестко задана ширина */
	position: absolute;
	top: 120px;
	left: 50%;/* ставим центр */
	margin-left: -250px; /* отрицательный отступ равный 1/2 ширины (width) позиционируемого блока */
	text-align: center;
}
.slid_header {
	font-size: 50px;
}
.inner_text p {
	margin-top: 30px;
	margin-bottom: 70px;
	font-size: 20px;
}
.slider_page button {
	color: #fff;
	background-color: #09d6f9;
	border: none;
	width: 200px;
	height: 45px;
	font-size: 16px;
	cursor: pointer;
}
/*World*/
.world {
	text-align: center;
	background-color: #f1efef;
	padding-top: 50px;

}
.ital_h {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 50px;
	padding-top: 70px;
}
.hr_divider {
	color: #8AC200;
    background-color: #8AC200;
    height: 4px;
    width: 80px;
    margin: 20px auto 50px auto;
    border: 0;
}

.desc {
	background-color: #09d6f9;
	color: white;
	box-sizing: border-box;
	text-align: center;
	padding: 20px;

}
.desc h3 {
	font-size: 30px;
	padding-bottom: 20px;
}
.desc p {
	line-height: 25px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
.content {
	max-width: 1200px;
	margin: 0 auto;
}
.eqheigth {
	margin-bottom: 20px;
}
.eqheigth:first-of-type {
	margin-left: -30px;
	margin-right: 20px;
}
.eqheigth:last-of-type {
	margin-right: -30px;
	margin-left: 20px;
}
.but {
	margin-top: 50px;
	margin-bottom: 70px;
	color: #09d6f9;
	border: 2px solid #09d6f9;
	background-color: transparent;
	width: 270px;
	height: 45px;
	font-size: 16px;
	cursor: pointer;
}
.but:hover {
	color: white;
	background-color: #09d6f9;
	font-weight: bold;
}
/*our scillset*/
.starbiz {
	text-align: center;
}
.image {
	max-width: 800px;
	height: 430px;
	background-image: url(../img/start-your-biz.jpg); 
}
.skillset .but {
	color: #09d6f9;
	background-color: white;
}
.skillset .but:hover {
	color: white;
	background-color: #09d6f9;
	font-weight: bold;
}
/*5 reasons*/
.reasons {
	background-color: #f1efef;
}
.reasons .fa{
	font-size: 70px;
	color: #09d6f9;
	text-align: center;
}
.reasons p {
	font-size: 33px;
}
.cent {
text-align: center;
}
.cent i {
	margin-top: 20px;
	margin-bottom: 20px;
}
/*parallax*/
.parallax {
	background: url(../img/backatt.jpg);
	background-size: cover;
	background-position: center top;
	width: 100%;
	height: 500px;
	background-attachment: fixed;
	margin-bottom: 2000px;
}
.dark_overlay {
	background-color: rgba(0,0,0,0.5);
	max-width: 100%;
	height: 100%;
}


@keyframes move {
    from {transform: scale(1.2) translateX(0px);}
    to {transform: scale(1.3) translateX(100px);}
}

@media screen and (max-width: 1000px) {
    .img, .img2, .img3, .img4  {
		animation: none; }
	.eqheigth:first-of-type {
		margin-left: 0px;
		margin-right: 0px;
}
	.eqheigth:last-of-type {
		margin-right: 0px;
		margin-left: 0px;
}