@import url(reset.css);
html, body {
	min-width: 600px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4 {
	font-family: 'Playfair Display', serif;
}
button {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mb24 {
	margin-bottom: 24px;
}
.mb50 {
	margin-bottom: 50px;
}

/*menu*/
.menuToggle {
	position: fixed;
	z-index: 1;
	width: 90px;
	height: 100px;
	cursor: pointer;
	font-size: 15px;
	color: #05aefb;
	background: transparent;
	border: none;
}
.menuToggle i {
	color: #05aefb;
	font-size: 50px;
}

.menu {
	position: fixed;
	z-index: 1;
	width: 30%;
	height: 100%;
	padding-top: 150px;
	padding-left: 0;
	text-align: center;
	line-height: 2;
	letter-spacing: 2px;
	background-color: #9a9696;
	display: none; /*hiding first*/
}
.menu i {
	color: white;
	font-size: 30px;
	position: absolute;
	top: 20px; 
	left: 20px;
	cursor: pointer;

}
.menu i:hover {
	color: #09d6f9;
	
}
.menu li a {
	color: white;
	text-decoration: none;
	font-size: 20px;

}
.menu li a:hover {
	color: #09d6f9;
	font-weight: bold;
}

/*slider*/
.slider_wrapper {
	overflow: hidden;
	position: relative;
}

.slider_page {
	position: relative;
}
.slick-prev, .slick-next {
	height: 30px;
	width: 30px;
}

.slick-dots li {
	top: -70px;
	width: 5px;
	height: 12px;
	margin-right: 20px;
}
.slick-dots li button:before {
	font-size: 15px;
	opacity: .7;
	color: #9a9696;
}
.slick-dots li button:hover {
	opacity: 1;
}

.slick-dots li.slick-active button:before{
	color: #09d6f9;
	opacity: 1;
}
.slick-dots li button {
	border-radius: 50%;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.img, .img2, .img3, .img4  {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
	-webkit-animation: move 25s linear infinite alternate;
	        animation: move 25s linear infinite alternate;
}
.img  {background-image: url(../img/apple.jpg); background-position: 0% 85%;}
.img2 {background-image: url(../img/kofe.jpg); background-position: 0% 55%;}
.img3 {background-image: url(../img/dolls.jpg); background-position: 0% 85%;}
.img4 {background-image: url(../img/keyboard.jpg); background-position: 0% 100%;}

	

.inner_text {
	max-width: 500px;/* жестко задана ширина */
	position: absolute;
	top: 120px;
	left: 50%;/* ставим центр */
	margin-left: -250px; /* отрицательный отступ равный 1/2 ширины (width) позиционируемого блока */
	text-align: center;
}
.slid_header {
	font-size: 50px;
}
.inner_text p {
	margin-top: 30px;
	margin-bottom: 70px;
	font-size: 20px;
}
.slider_page button {
	color: #fff;
	background-color: #09d6f9;
	border: none;
	width: 200px;
	height: 45px;
	font-size: 16px;
	cursor: pointer;
}
/*World*/
#world div {
	padding: 20px;
	opacity: 0;
}
.left_quarter {
	-webkit-transform: translateX(-100px);
	    -ms-transform: translateX(-100px);
	        transform: translateX(-100px);
	-webkit-transition: 1s linear;
	-o-transition: 1s linear;
	transition: 1s linear;
}

.right_quarter {
	-webkit-transform: translateX(100px);
	    -ms-transform: translateX(100px);
	        transform: translateX(100px);
	-webkit-transition: 1s linear;
	-o-transition: 1s linear;
	transition: 1s linear;

}
.center_quarter {
	-webkit-transform: translateY(100px);
	    -ms-transform: translateY(100px);
	        transform: translateY(100px);
	-webkit-transition: 1s linear;
	-o-transition: 1s linear;
	transition: 1s linear;
}	
.world {
	text-align: center;
	background-color: #f1efef;
	padding-top: 50px;

}
.ital_h {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 50px;
	padding-top: 70px;
}
.hr_divider {
	color: #8AC200;
    background-color: #8AC200;
    height: 4px;
    width: 80px;
    margin: 20px auto 50px auto;
    border: 0;
}

.desc {
	background-color: #09d6f9;
	color: white;
	text-align: center;
	padding: 20px;

}
.desc h3 {
	font-size: 30px;
	padding-bottom: 20px;
}
.desc p {
	line-height: 25px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.content {
	max-width: 1200px;
	margin: 0 auto;
}
.eqheigth {
	margin-bottom: 20px;
}
.eqheigth:first-of-type {
	margin-left: -30px;
	margin-right: 20px;
}
.eqheigth:last-of-type {
	margin-right: -30px;
	margin-left: 20px;
}
.but {
	margin-top: 50px;
	margin-bottom: 70px;
	color: #09d6f9;
	border: 2px solid #09d6f9;
	background-color: transparent;
	width: 270px;
	height: 45px;
	font-size: 16px;
	cursor: pointer;
}
.but:hover {
	color: white;
	background-color: #09d6f9;
	font-weight: bold;
}
/*our scillset*/
.starbiz {
	text-align: center;
}
.image img{
	max-width: 100%;
		 
}
.skillset .but {
	color: #09d6f9;
	background-color: white;
}
.skillset .but:hover {
	color: white;
	background-color: #09d6f9;
	font-weight: bold;
}
/*5 reasons*/
.reasons {
	background-color: #f1efef;
}

#reasons_wrapper{
	position: relative;
	top: 150px;
	opacity: 0;
	-webkit-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}
.reasons .fa{
	font-size: 70px;
	color: #09d6f9;
	text-align: center;
}
.reasons p {
	font-size: 33px;
}
.cent {
text-align: center;
}
.cent i {
	margin-top: 20px;
	margin-bottom: 20px;
}
/*parallax*/
.parallax {
	background: url(../img/backatt.jpg);
	background-size: cover;
	background-position: center top;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
}

.dark_overlay {
	background-color: rgba(0,0,0,0.5);
	max-width: 100%;
	height: 100%;
	padding-bottom: 70px;
}
.parallax h2, .parallax h3  {
	color: white;
}
.parallax h3 {
	font-size: 24px;
	line-height: 1.5;
}

.equal_size_small {
	position: relative;
}
.equal_size_small button {
	position: absolute;
	bottom: -40px;
}
.parallax button {
	background-color: transparent;
	border: 2px solid #09d6f9;

}
.parallax button:hover {
	background-color: #09d6f9;
	color: white;
}
.parallax button a {
	display: block;
	text-decoration: none;
	color: #09d6f9;
	padding: 5px 15px;
	font-size: 12px;
}
.parallax button a:hover {
	color: white;
	font-weight: bold;
}
.inner_content {
	background-color: rgba(34,34,34,0.4);
	width: 100%;
	height: 100%;
	padding: 35px 25px;
}
.zoom-hover{
	height: 149px;
	width: 100%;
	overflow: hidden;
		
}
.zoom-hover img {
	height: 149px;
	width: 100%;
	max-width: 100%;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer;
}
.zoom-hover img:hover {
	-webkit-transform: scale(1.15);
	    -ms-transform: scale(1.15);
	        transform: scale(1.15);
}
/*specialisms*/
#specialism_wrapper{
	position: relative;
	right: 500px;
	opacity: 0;
	-webkit-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}
.specialism .cent i {
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-size: 35px;
	border: 1px solid #09d6f9;
	border-radius: 50%;
	color: white;
	background-color: #09d6f9;
	
}
.specialism .feature .cent div {
	font-size: 16px;
	font-weight: bold;
    line-height: 24px;
    color: #292929;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
/*Subscribe*/
.subscribe {
	padding-top: 80px; 
	padding-bottom: 80px;
	background-color: #09d6f9;
	color: #fff;
}
.subscribe h2 {
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 1.5;
}
.subscribe p {
	font-size: 20px;
}
.subscribe input,.subscribe button {
	height: 50px;
	width: 49.5%;
}
.subscribe input {
	background-color: transparent;
	text-transform: uppercase;
	padding-left: 30px;
	font-size: 12px;
	border: 1px solid #fff;

}

.subscribe input::-webkit-input-placeholder { color: #fff; }
.subscribe button {
	background-color: #97D400;
	border: none;
}
.subscribe button:hover {
	background-color: #86b70b;
	
}
/*footer*/
.footer_wrapper {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #504a4a;
}
.img-sm {
	max-height: 40px;

}
footer p, .link a {
	font-size: 18px;
	line-height: 2;
	color: #c7c4c4;
	
}
.link a	{
	display: inline-block;
	width: 100%;
	line-height: 2.5;
	text-decoration: none;
	-webkit-transition: 0.3s linear;
	-o-transition: 0.3s linear;
	transition: 0.3s linear;
}
.link a:hover {
	color: #fff;
}
.gt p{
	color: #fff;
}
footer i {
	color: #97d400;
}
footer .fa-mobile {
	font-size: 24px;
	padding-left: 3px;
}
footer p span {
	padding-left: 5px;
	color: #0bd3c5;
}
footer .social li {
	display: inline-block;
	margin-right: 15px;
	margin-top: 15px;

}
footer .social li a i {
	color: #c7c4c4;
	-webkit-transition: 0.3s linear;
	-o-transition: 0.3s linear;
	transition: 0.3s linear;
}
footer .social li a i:hover {
	color: #fff;
}
@-webkit-keyframes move {
    from {-webkit-transform: scale(1.2) translateX(0px);transform: scale(1.2) translateX(0px);}
    to {-webkit-transform: scale(1.3) translateX(100px);transform: scale(1.3) translateX(100px);}
}
@keyframes move {
    from {-webkit-transform: scale(1.2) translateX(0px);transform: scale(1.2) translateX(0px);}
    to {-webkit-transform: scale(1.3) translateX(100px);transform: scale(1.3) translateX(100px);}
}

@media screen and (max-width: 1000px) {
    .img, .img2, .img3, .img4  {
		-webkit-animation: none;
		        animation: none; 
}
	.eqheigth:first-of-type {
		margin-left: 0px;
		margin-right: 0px;
}
	.eqheigth:last-of-type {
		margin-right: 0px;
		margin-left: 0px;
}
	.menu {
		width: 80%;
	}
	.equal_size_small button {
		bottom: 0;
		right: 15px;
}
	.subscribe input,.subscribe button {
	height: 50px;
	width: 80%;
	margin-left: 10%;
}
	footer div {
		padding-left: 5px;
}
	.sub {
	margin-left: 10%;	
	margin-bottom: 24px;
}
}
	